body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;background: #fff;
}
h1{
    font-family: Gafata;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* h1{

    color: #fff;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#fff);
    line-height: 0.70em;
} */

.nav-bar{
    background: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
}
.nav-bar .nav-logo{
    margin-top: 50px;
}
.nav-bar #logo{
    background: url('../data/logo.svg')no-repeat;
    overflow: hidden;
    width: 300px;
    height: 100px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-iterm{
    margin: 0 3rem;
    
}
.nav-iterm:last-child{
    margin-right: 0;
}
.nav-iterm a{
    color: #333333;
    text-transform: uppercase;
   
}
.nav-bar .nav-login{
    position: absolute;
    right: 0;
}
/* end of nav */

/* cover */


.container{
    position: relative;

}
.container .cover{
    background: url('./svg\ data/wave1.svg')no-repeat center;
    background-size: cover;
    height: 1196.42px;
    width: 100%;
}
.coverside-left{
    position: absolute;
    top: 20%;
    width: 1017px;
    height: 408px;
    
}

.container .coverside-left h1{
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 108px;
    color: #FAFAFA;
}
.getstarted {
    background: #7FF272;
    border-radius: 100px;
    width: 199.76px;
    height: 73.63px;
    position: absolute;
    left: 190px;
    bottom: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*Trusted Partners */
.container .content{
    width: 100%;
    height: 300px;
}
.container .content h1{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48.0812px;
}


.section1 .section-container{
    width: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.section1 .big-crystal{
    background:url(../cryptonite/png\ data/group.png)no-repeat;
    background-size: cover;
    width: 100%;
    height: 623px;
}

/* section1 end */


/* section2  */
.section2{
    background: white;
    position: relative;
}
.section2 .white-space{
    background: white;
    height: 50rem;
}
.section2 .title{
    position: absolute;
    top: -10%;
    left: 35%;
}
.section2 .title h1{
    color: black;
    font-size: 90px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    
}

/* content about us */

.section2 .content-aboutus{
    width: 100%;
    
}
.section2 .content-aboutus .about{
    width: 40%;
    position: absolute;
    left: 190px;
    margin-top: 60px;
}

.section2 .content-aboutus h3{
    font-size: 64px;
    font-weight: lighter;
    text-transform: uppercase;
}
.section2 .content-aboutus p{
    font-size: 36px;
    font-family: Gafata;
    font-style: normal;
    color: #106D1A;
}



/* section3 */

.section3{
    background: white;
    position: relative;
}
.section3 .white-space{
    width: 100%;
    height: 50rem;
}
.section3 .white-space .container-boxs{

    width: 840px;
    height: 374px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: absolute;
    left: 25%;
}
.section3 .box-flot{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section3 .box{
    width: 236px;
    height: 221px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 31px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    margin-top: 10%;
}
