/* founts
Poppins 400 500 700 regular semi-blod bold
Gafata
Open Sans

*/


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;background: #fff;
}
h1,p{
    font-family: Gafata;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* h1{

    color: #fff;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#fff);
    line-height: 0.70em;
} */

.nav-bar{
    background: #fff;
    display: flex;
    align-items: center;
    height: 100px;
}
.nav-bar .nav-logo{
    margin: 45px 0 0 237px;
}
.nav-bar #logo{
    background: url('../data/logo.svg')no-repeat;
    overflow: hidden;
    width: 300px;
    height: 100px;
}
.nav-list{
    list-style: none;
    display: flex;
    position: absolute;
    right: 530px;
}
.nav-iterm{
    margin: 0 3rem;
    
}
.nav-iterm:last-child{
    margin-right: 0;
}
.nav-iterm a{
    color: #000000;
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 20px;
    font-weight: regular;
   
}
.nav-bar .nav-login{
    position: absolute;
    right: 237px;
    width: 243px;
    height: 80px;
    /* border: 1px solid #093132; */
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #7FF272;
}
.nav-login a{
    width: 166.26px;
    height: 26px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #093132;
}
/* end of nav */

/* cover */


.container{
    width: 100%;
    position: relative;

}
.container .cover{
    background: url('./svg\ data/wave1.svg')no-repeat center;
    background-size: cover;
    height: 1199px;
    width: 100%;
}
.coverside-left{
    position: absolute;
    top: 20%;
    left: 236px;
    width: 739px;
    height: 408px;
    
}

.container .coverside-left h1{
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 135px;
    color: #FFFFFF;
    line-height: 135px;
}
.container .coverside-left p{
    width: 769px;
    font-family: Poppins;
    font-style: normal;
    font-weight: regular;
    font-size: 22px;
    line-height: 40px;
/* or 182% */


color: #FFFFFF;
}
#cover-text{
    position: absolute;
    left: 4px;
}
.getstarted {
    background: #7FF272;
    border-radius: 80px;
    width: 284px;
    height: 80px;
    position: absolute;
    left: 1px;
    bottom: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.getstarted #button-anim p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}
.container .coverside-right{
    position: absolute;
    right: 50px;
    top: 20%;
}


/*Trusted Partners */
.container .content{
    width: 100%;
    height: 300px;
}
.container .content h1{
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}
#partners{
    background: url(../cryptonite/png\ data/partners.png) no-repeat;
    width: 1470px;
    height: 299px;
    position: absolute;
    left: 213px;
}

/* section1 */
#section1-space{
    background: url('./svg\ data/wave1.svg')no-repeat center;
    background-size: cover;
    height: 1315.89px;
    width: 100%;
}
.section1{
    width: 1403px;
    height: 843px;
    position: absolute;
    top: 258px;
    left: 268px;
}

.section1 .section-container{
    width: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* .section1 .big-crystal{
    background:url(../cryptonite/png\ data/crystal.png)no-repeat;
    width: 100%;
    height: 623px;
} */
#line1{
    width: 156px;
    height: 1px;
    background: #7FF272;
    position: absolute;
    top: 259px;
    left: 390px;
    transform: rotate(30deg);
}
#line2{
    width: 156px;
    height: 1px;
    background: #7FF272;
    position: absolute;
    top: 579px;
    left: 390px;
    transform: rotate(145deg);
}
#line3{
    width: 156px;
    height: 1px;
    background: #7FF272;
    position: absolute;
    top: 259px;
    left: 730px;
    transform: rotate(145deg);
}
#line4{
    width: 156px;
    height: 1px;
    background: #7FF272;
    position: absolute;
    top: 569px;
    left: 730px;
    transform: rotate(30deg);
}
.section1 .box1{
    width: 367px;
    height: 284px;
}
.section1 .box2{
    width: 390px;
    height: 357px;
    position: absolute;
    /* top: 444px; */
    bottom: 0;
}
.section1 .box3{
    width: 487px;
    height: 318px;  
    position: absolute;
    top: 0;
    right: 0;
}
.section1 .box4{
    width: 354px;
    height: 343px;
    position: absolute;
    right: 60px;
    top: 444px;
}
.section1 .box1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 94px;
    height: 101px;
}
.section1 .box2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 94px;
    height: 101px;
}
.section1 .box3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 94px;
    height: 101px;
}
.section1 .box4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 94px;
    height: 101px;
}
.section1 h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    /* identical to box height, or 105% */
    text-align: center;

    color: #FFFFFF;
}
.section1 p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    /* or 182% */

    text-align: center;

    color: #FFFFFF;
}

/* section1 end */


/* section2  */
.section2{
    background: white;
    position: relative;
}
.section2 .white-space{
    background: white;
    height: 50rem;
}

/* content about us */

.section2 .content-aboutus{
    width: 100%;
    
}
.section2 .content-aboutus .about{
    width: 40%;
    position: absolute;
    left: 190px;
    margin-top: 60px;
}

.section2 .content-aboutus h3{
    font-size: 64px;
    font-weight: lighter;
    text-transform: uppercase;
}
.section2 .content-aboutus p{
    font-size: 36px;
    font-family: Gafata;
    font-style: normal;
    color: #106D1A;
}
.section2 .about-img{
    width: 656px;
    height: 518px;
    background:url(../cryptonite/png\ data/about.png) ;
    position: absolute;
    right: 229px;
    top: 93px;

}



/* section3 */
/*lilian's addittion*/
/*market section*/
.market-section {
    background-color: white;
    position: relative;
    height: 600px;
}
.market-content {
    margin: 0px 240px;
}
.market-info {
    width: 100%;
}
.coins {
    float: left;
    width: 48%;

}
.coins-content {
    padding-bottom: 50px;
    padding-left: 10px;
}
.coin-info{
    width: 683px;
    height: 350px;
}

.market-section .coin-info h3{
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 50px;
    color: #093536;
}
.market-section .coin-info p{
    font-family: Poppins;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 40px;
}
#second-line{
    padding-top: 40px;
}


/* latest-information */

.latest-information {
    height: 390px;
    background-color: white;
    position: relative;
}

.info-title {
    text-align: center;
    padding-bottom: 30px;
    color: #093536;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;

}
.information-blocks {
    position: absolute;
    margin: 0px 240px;

}
.latest-blocks {
    width: 100%;
}
.market-blocks {
    float: left;
    width: 32%;
}
.market-blocks h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
/* or 107% */
text-transform: capitalize;
color: #000000;
}
.market-blocks p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}
.market-blocks .blockA {
     width: 100%;
     margin-top: 25px;
     margin-bottom: 25px;

}
.market-blocks .blockC {
    width: 100%;
     margin-top: 25px;
     margin-bottom: 25px;
}
.market-blocks .blockB {
     width: 100%;

}
.blockA-content {
    padding: 15px 20px 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 31px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    width: 65%;
    margin-right: 70px;
}

.blockC-content {
    padding: 18px 20px 5px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 31px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    width: 65%;
    margin-left: 70px;

}

.blockB-content {
    padding: 20px 20px 15px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 31px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    width: 90%;
    height: 250px;
}

.market-blocks p{
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    font-size: 13px;
}
.market-blocks h3{
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    font-size: 20px;
}
.market-blocks a{
    font-family: Poppins;
    font-weight: regular;
    font-style: normal;
    line-height: 15px;
    font-size: 13px;
    text-decoration-line: underline;
    color: #093536;
}


/*subscribe section*/

#phone-wave{
    background: #093132;
    width: 100%;
    height: 350px;
    position: relative;
}
#info-wave {
    background: url("./data/info-wave.png")no-repeat;
    /* overflow: hidden; */
    width: 100%;
    height: 20rem;
    position: absolute;
    top: -40px;

}
.phones-section {
    background: #093132;
}
.phones {
    float: left;
    width: 48%;
     
}

.mobile-phone {
    margin-left: 240px;
    margin-bottom: -150px;
}
.phones-content {
    margin-right: 240px;
    padding-left: 90px;
}
.download-content {
    margin-top: 130px;
    width: 100%;


}
#download-title {
    font-family: Poppins;
    font-weight: bold;
    font-style: normal;
    font-size: 38px;
    color: #FFFFFF;

}
#download-paragraph {
    font-family: Poppins;
    font-weight: regular;
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
}

.apple-store {
    float: left;
    /*border: 1px solid white;*/
}
.apple-img {
    padding-top: 8px;
}
#wave4 {
    background: url("./data/wave4.png")no-repeat;
    overflow: hidden;
    width: 100%;
    height: 15rem;
    top: 90%;
}

.subscribe {
    width: 100%;
    clear: both;
    background-color: #FFFFFF;
    margin-top: -40px;

}
.subscribe p{
    padding: 10px;
}
#subscribe-title {
    font-family: Poppins;
    text-align: center;
    font-weight: 750;
    font-size: 40px;
    font-style: normal;

}
#subscribe-paragraph {
    font-family: Poppins;
    text-align: center;
    font-style: normal;
    font-weight: regular;
    font-size: 32px;

}
.subscribe-button {
    text-align: center;
}

#subscribe-btn {
    border-radius: 100px;
    margin-bottom: 40px;
    width: 30%;
    line-height: 4em;
    padding: 17px 20px 0px 18px;

    
}
#try {
     margin-left: -75px;
     margin-top: -90px;
    /*height: 25px;*/
    /*width: 80px;*/
    background: #7FF272;
    border-radius: 180px;
    -webkit-appearance: none;
    padding: 15px 20px 15px 16px;
}


/*footer section*/

footer {
    position: relative;
    background: #093132;
    width: 100%;
    height: 382.55px;
}
#footer-bg{
    margin: 0 240px 0 240px;
    color: #fff;
}
.col{
    float: left;
    width: 23%;
    padding: 10px;

}
#p1{
    color: #FFFFFF;
    opacity: 0.5;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
.col p {
    padding: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* or 24px */
    letter-spacing: -0.01em;
    /* White */
    color: #FFFFFF;
}

footer img{
    padding: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#logo2 {
    background: url('./data/footer-img.png')no-repeat;
    overflow: hidden;
    width: 300px;
    height: 50px;
}

footer .col h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: semi-bold;
    letter-spacing: -0.01em;
    opacity: 0.5;
    letter-spacing: -0.01em;
    color: #DFDEDC;
    opacity: 0.5;
}
#ourapp{
    text-align: center;
    margin-top: 170px;
}
#ourapp a{
    text-decoration-line: underline;
    color: #7FF272;
    font-family: Poppins;
    font-style: normal;
    font-weight: regular;
    font-size: 12px;
}
#copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* or 24px */
    letter-spacing: -0.01em;
    color: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    bottom: 17px;
    left: 241px;
}


